body{
	font-family: 	'Roboto', sans-serif;
	font-size: 		20px;
	line-height: 	26px;
}

#bar{
	padding-top: 	10px;
	padding-bottom: 10px; 
	width: 			100%;
}

nav a{
	text-decoration: 	none;
	font-size: 			15px;
	color:				black;
	padding: 			3px 20px 3px 20px;
	float:				right;
}

.active{
	text-decoration: underline;
}

a:hover{
	color: red;
}

#home{
	float:left;
}

div{
	width: 			60%;
	margin: 		0 auto;
}

hr{
	margin-bottom: 	40px;
}

h1{
	font-size: 		36px;
	line-height: 	36px;
	margin-bottom: 	40px;
}

h2{
	font-size: 		32px;
	line-height: 	32px;
	margin-bottom: 	40px;
}

p{
	margin-bottom: 	40px;
}

#intro{
	font-size: 		24px;
	line-height: 	32px;
	margin-bottom: 	40px;
}

ul{
	margin-bottom: 	40px;
}

ol{
	margin-bottom: 	40px;
}

.unordered{
	margin-bottom: 	10px;
}

.ordered{
	margin-bottom: 20px;
}

img{
	width: 			50%;
	height: 		50%;
}

#tip{
	background-color: 	#def6ed;
	border:				4px solid #def6ed;
	margin-top:			25px;
	padding: 			25px;
}